<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Reparación</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="../../styles/reparacionform.css">
</head>
<body>
    <div class="form-container">
        <h1>Editar Reparación</h1>
        <form action="/editReparacion" method="post" class="formulario-reparacion">
            <input type="hidden" name="id_reparacion" value="<%= reparacion.id_reparacion %>">

            <div class="alado-group">
                <div class="alado-item">
                    <label for="equipo_id">ID Equipo</label>
                    <input type="text" name="equipo_id" id="equipo_id" value="<%= reparacion.equipo_id %>" readonly>
        
                </div>
                <div class="alado-item">
                    <label for="usuario_solicitante_id">ID Usuario Solicitante</label>
                    <input type="text" name="usuario_solicitante_id" id="usuario_solicitante_id" value="<%= reparacion.usuario_solicitante_id || '' %>" readonly>
        
                </div>
            </div>

            <label for="tecnico_id">ID Técnico</label>
            <input type="text" name="tecnico_id" id="tecnico_id" value="<%= reparacion.tecnico_id %>" required>

            <label for="descripcion_problema">Descripción del Problema</label>
            <textarea name="descripcion_problema" required class="textarea-reparacion"><%= reparacion.descripcion_problema %></textarea>

            <label for="estado">Estado</label>
            <select name="estado" id="estado">
                <% estados.forEach(estado => { %>
                    <option value="<%= estado %>" <%= reparacion.estado === estado ? 'selected' : '' %>><%= estado %></option>
                <% }); %>
            </select>

            <div class="alado-group">
                <div class="alado-item">
                    <label for="fecha_inicio">Fecha Inicio</label>
                    <input type="date" name="fecha_inicio" id="fecha_inicio" value="<%= new Date(reparacion.fecha_inicio).toISOString().split('T')[0] %>" readonly>        
                </div>
                <div class="alado-item">
                    <label for="fecha_finalizacion">Fecha Finalización</label>
                    <input type="date" name="fecha_finalizacion" id="fecha_finalizacion" value="<%= new Date(reparacion.fecha_finalizacion).toISOString().split('T')[0] %>">        
                </div>
            </div>


            <button type="submit">Actualizar Reparación</button>
        </form>
    </div>
</body>
</html>
